USE [master]
GO
/****** Object:  Database [bdd_intermarche]    Script Date: 15/12/2025 22:27:46 ******/
CREATE DATABASE [bdd_intermarche]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bdd_intermarche', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\bdd_intermarche.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'bdd_intermarche_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\bdd_intermarche_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bdd_intermarche].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bdd_intermarche]
GO
/****** Object:  Table [dbo].[Commande]    Script Date: 15/12/2025 22:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Commande](
	[idCommande] [int] IDENTITY(1,1) NOT NULL,
	[libelleMagasin] [varchar](100) NOT NULL,
	[statut] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idCommande] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Commander]    Script Date: 15/12/2025 22:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Commander](
	[idCommande] [int] NOT NULL,
	[codeProduit] [int] NOT NULL,
	[quantite] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idCommande] ASC,
	[codeProduit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 15/12/2025 22:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[idNotif] [int] IDENTITY(1,1) NOT NULL,
	[message] [varchar](255) NOT NULL,
	[codePaletteNotif] [int] NOT NULL,
	[codeStockagePaletteNotif] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idNotif] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Palette]    Script Date: 15/12/2025 22:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Palette](
	[codePalette] [int] NOT NULL,
	[codeStockagePalette] [int] NOT NULL,
	[libellePalette] [varchar](100) NOT NULL,
	[qtePalette] [int] NOT NULL,
	[paletteZone] [int] NULL,
	[codeProduitPalette] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[codePalette] ASC,
	[codeStockagePalette] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Preparer]    Script Date: 15/12/2025 22:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Preparer](
	[idUser] [int] NOT NULL,
	[idCommande] [int] NOT NULL,
	[statut] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[idUser] ASC,
	[idCommande] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Produit]    Script Date: 15/12/2025 22:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Produit](
	[codeProduit] [int] NOT NULL,
	[libelleProduit] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[codeProduit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 15/12/2025 22:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[idRole] [int] IDENTITY(1,1) NOT NULL,
	[libelleRole] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Utilisateur]    Script Date: 15/12/2025 22:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Utilisateur](
	[idUser] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [varchar](100) NOT NULL,
	[Prenom] [varchar](100) NOT NULL,
	[Identifiant] [varchar](100) NOT NULL,
	[MotDePasse] [varchar](255) NOT NULL,
	[idRole] [int] NOT NULL,
	[codeZone] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Identifiant] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zone]    Script Date: 15/12/2025 22:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zone](
	[codeZone] [int] NOT NULL,
	[libelleZone] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[codeZone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Commander]  WITH CHECK ADD  CONSTRAINT [FK_Commander_Commande] FOREIGN KEY([idCommande])
REFERENCES [dbo].[Commande] ([idCommande])
GO
ALTER TABLE [dbo].[Commander] CHECK CONSTRAINT [FK_Commander_Commande]
GO
ALTER TABLE [dbo].[Commander]  WITH CHECK ADD  CONSTRAINT [FK_Commander_Produit] FOREIGN KEY([codeProduit])
REFERENCES [dbo].[Produit] ([codeProduit])
GO
ALTER TABLE [dbo].[Commander] CHECK CONSTRAINT [FK_Commander_Produit]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notification_Palette] FOREIGN KEY([codePaletteNotif], [codeStockagePaletteNotif])
REFERENCES [dbo].[Palette] ([codePalette], [codeStockagePalette])
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notification_Palette]
GO
ALTER TABLE [dbo].[Palette]  WITH CHECK ADD  CONSTRAINT [FK_Palette_Produit] FOREIGN KEY([codeProduitPalette])
REFERENCES [dbo].[Produit] ([codeProduit])
GO
ALTER TABLE [dbo].[Palette] CHECK CONSTRAINT [FK_Palette_Produit]
GO
ALTER TABLE [dbo].[Palette]  WITH CHECK ADD  CONSTRAINT [FK_Palette_Zone] FOREIGN KEY([paletteZone])
REFERENCES [dbo].[Zone] ([codeZone])
GO
ALTER TABLE [dbo].[Palette] CHECK CONSTRAINT [FK_Palette_Zone]
GO
ALTER TABLE [dbo].[Preparer]  WITH CHECK ADD  CONSTRAINT [FK_Preparer_Commande] FOREIGN KEY([idCommande])
REFERENCES [dbo].[Commande] ([idCommande])
GO
ALTER TABLE [dbo].[Preparer] CHECK CONSTRAINT [FK_Preparer_Commande]
GO
ALTER TABLE [dbo].[Preparer]  WITH CHECK ADD  CONSTRAINT [FK_Preparer_User] FOREIGN KEY([idUser])
REFERENCES [dbo].[Utilisateur] ([idUser])
GO
ALTER TABLE [dbo].[Preparer] CHECK CONSTRAINT [FK_Preparer_User]
GO
ALTER TABLE [dbo].[Utilisateur]  WITH CHECK ADD  CONSTRAINT [FK_Utilisateur_Role] FOREIGN KEY([idRole])
REFERENCES [dbo].[Role] ([idRole])
GO
ALTER TABLE [dbo].[Utilisateur] CHECK CONSTRAINT [FK_Utilisateur_Role]
GO
ALTER TABLE [dbo].[Utilisateur]  WITH CHECK ADD  CONSTRAINT [FK_Utilisateur_Zone] FOREIGN KEY([codeZone])
REFERENCES [dbo].[Zone] ([codeZone])
GO
ALTER TABLE [dbo].[Utilisateur] CHECK CONSTRAINT [FK_Utilisateur_Zone]
GO
ALTER TABLE [dbo].[Commander]  WITH CHECK ADD CHECK  (([quantite]>(0)))
GO
ALTER TABLE [dbo].[Palette]  WITH CHECK ADD CHECK  (([qtePalette]>=(0)))
GO
/****** Object:  StoredProcedure [dbo].[AfficherLesCommande]    Script Date: 15/12/2025 22:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
create PROCEDURE [dbo].[AfficherLesCommande]
	-- Add the parameters for the stored procedure here

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	select idcommande,libellemagasin,statut from Commande where statut != 'TERMINER'
END
GO
/****** Object:  StoredProcedure [dbo].[AfficherLesLogs]    Script Date: 15/12/2025 22:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[AfficherLesLogs]
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SELECT idNotif, message, codePaletteNotif, codeStockagePaletteNotif, libelleProduit, quantite FROM Notification
	INNER JOIN Palette ON codePaletteNotif = codePalette
	INNER JOIN Produit ON codeProduitPalette = codeProduit
	INNER JOIN Commander ON Commander.codeProduit = Produit.codeProduit
END
GO
/****** Object:  StoredProcedure [dbo].[Afficherlesnotifs]    Script Date: 15/12/2025 22:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Afficherlesnotifs]
	-- Add the parameters for the stored procedure here

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT idNotif, message,idCommande, codePaletteNotif FROM Notification
	INNER JOIN Palette ON codePalette = codePaletteNotif
	INNER JOIN Produit ON codeProduitPalette = codeProduit
	INNER JOIN Commander ON Produit.codeProduit = Commander.codeProduit


END
GO
/****** Object:  StoredProcedure [dbo].[AfficherPalette]    Script Date: 15/12/2025 22:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[AfficherPalette] (@CodePaletteNotif int)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SELECT codePalette, libellePalette, codeStockagePalette, libelleZone, codeProduitPalette FROM Palette
	INNER JOIN Zone ON codeZone = paletteZone
	WHERE codePalette = @CodePaletteNotif;

END
GO
/****** Object:  StoredProcedure [dbo].[AfficherZoneCommande]    Script Date: 15/12/2025 22:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[AfficherZoneCommande]
	-- Add the parameters for the stored procedure here
	@id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	select codezone,libellezone from Commander c
	inner join Produit p on p.codeProduit = c.codeProduit
	inner join Palette pa on p.codeProduit = codeProduitPalette
	inner join Zone on paletteZone = codeZone
	where idCommande = @id
END
GO
/****** Object:  StoredProcedure [dbo].[AfficherZonepreparateur]    Script Date: 15/12/2025 22:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[AfficherZonepreparateur]
	-- Add the parameters for the stored procedure here
	@id int,
	@idcmd int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	select iduser, nom,prenom from Utilisateur where codeZone = @id and iduser Not in (select iduser from Preparer where idCommande = @idcmd)
END
GO
/****** Object:  StoredProcedure [dbo].[ajout_magasin]    Script Date: 15/12/2025 22:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ajout_magasin]
	@libelle varchar(255)
AS
BEGIN
	insert into Commande(libelleMagasin)
	values (@libelle)
END
GO
/****** Object:  StoredProcedure [dbo].[ajouter_commande]    Script Date: 15/12/2025 22:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ajouter_commande]
    @idCommande INT,
    @nomProduit NVARCHAR(255),
    @quantite INT
AS
BEGIN
    DECLARE @codeProduit INT

    IF NOT EXISTS (SELECT * FROM Commande WHERE idCommande = @idCommande)
    BEGIN
        RAISERROR('Commande inexistante', 16, 1)
        RETURN
    END

    SELECT @codeProduit = codeProduit 
    FROM Produit 
    WHERE libelleProduit LIKE '%' + @nomProduit + '%'
	begin tran
    IF @codeProduit IS NULL
    BEGIN
        INSERT INTO Produit (libelleProduit) VALUES (@nomProduit)
        SELECT @codeProduit = codeProduit 
        FROM Produit 
        WHERE libelleProduit = @nomProduit
		if(@@ERROR != null) or (@@ROWCOUNT = 0)
		begin
			rollback tran
			raiserror('erreur ajout produit',16,1)
			return
		end
    END
    
    IF EXISTS (SELECT * FROM Commander WHERE idCommande = @idCommande AND codeProduit = @codeProduit)
    BEGIN
        UPDATE Commander 
        SET quantite = quantite + @quantite
        WHERE idCommande = @idCommande AND codeProduit = @codeProduit
		if(@@ERROR != null) or (@@ROWCOUNT = 0)
		begin
			rollback tran
			raiserror('erreur modification commande',16,1)
			return
		end
    END
    ELSE
    BEGIN
        INSERT INTO Commander (idCommande, codeProduit, quantite)
        VALUES (@idCommande, @codeProduit, @quantite)
		if(@@ERROR != null) or (@@ROWCOUNT = 0)
		begin
			rollback tran
			raiserror('erreur ajout commande',16,1)
			return
		end
		commit tran
    END
END
GO
/****** Object:  StoredProcedure [dbo].[ajouter_utilisateur]    Script Date: 15/12/2025 22:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ajouter_utilisateur]
	-- Add the parameters for the stored procedure here
	@nom varchar(30),
	@prenom varchar(30),
	@identifiant varchar(30),
	@motdepasse varchar(30),
	@role int,
	@zone int
AS
BEGIN
	if(@zone != -1)
	begin
	insert into Utilisateur(Nom,Prenom,Identifiant,MotDePasse,idRole,codeZone)
	values(@nom,@prenom,@identifiant,@motdepasse,@role,@zone)
	return
	end
	insert into Utilisateur(Nom,Prenom,Identifiant,MotDePasse,idRole,codeZone)
	values(@nom,@prenom,@identifiant,@motdepasse,@role,Null)
	return
END
GO
/****** Object:  StoredProcedure [dbo].[CreerNotif]    Script Date: 15/12/2025 22:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CreerNotif] (@message VARCHAR(255), @codePalette int, @codeStockagePalette int)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	INSERT INTO Notification (message, codePaletteNotif, codeStockagePaletteNotif) VALUES(@message, @codePalette, @codeStockagePalette);
END
GO
/****** Object:  StoredProcedure [dbo].[DELETENOTIF]    Script Date: 15/12/2025 22:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[DELETENOTIF](@idNotif int)
	-- Add the parameters for the stored procedure here

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DELETE Notification
	WHERE idNotif = @idNotif;
END
GO
/****** Object:  StoredProcedure [dbo].[InsertionBASEPalette]    Script Date: 15/12/2025 22:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[InsertionBASEPalette] (@NumPalette int, @quantiteSaisie int, @codeProduit int)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	UPDATE Palette
	SET qtePalette = qtePalette + @quantiteSaisie
	WHERE codePalette = @NumPalette
	AND codeProduitPalette = @codeProduit;
END
GO
/****** Object:  StoredProcedure [dbo].[MAJSTATUTCOMMANDE]    Script Date: 15/12/2025 22:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MAJSTATUTCOMMANDE] (@codeCommande int, @codeUser int)
	-- Add the parameters for the stored procedure here

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	DECLARE @statut int
	SET NOCOUNT ON;

	SELECT @statut = statut FROM Preparer WHERE idUser = @codeUser AND idCommande = @codeCommande
	IF (@statut = 1)
		BEGIN
		UPDATE Preparer
		SET statut = 0
		WHERE idUser = @codeUser AND idCommande = @codeCommande
		END
	ELSE
		BEGIN
			IF (@statut = 0 OR @statut is null)
			BEGIN 
			UPDATE Preparer
			SET statut = 1
			WHERE idUser = @codeUser AND idCommande = @codeCommande
			END
		END
END
GO
/****** Object:  StoredProcedure [dbo].[QuantiteePalette]    Script Date: 15/12/2025 22:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[QuantiteePalette] (@codePalette int)
AS
BEGIN
	SET NOCOUNT ON;

SELECT qtePalette FROM Palette WHERE codePalette = @codePalette
END
GO
/****** Object:  StoredProcedure [dbo].[RecupererPalettes]    Script Date: 15/12/2025 22:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[RecupererPalettes] (@idCommande int)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT codePalette, libelleProduit, qtePalette, codeStockagePalette FROM Commander c
	INNER JOIN Produit p ON p.codeProduit = c.codeProduit
	INNER JOIN Palette pa ON p.codeProduit = pa.codeProduitPalette
	WHERE idCommande = @idCommande;
END
GO
/****** Object:  StoredProcedure [dbo].[SelectionNotifCommande]    Script Date: 15/12/2025 22:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SelectionNotifCommande]
	-- Add the parameters for the stored procedure here
	@idNotif as int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	IF EXISTS(SELECT codePalette, libellePalette, paletteZone FROM Palette INNER JOIN Notification  ON Palette.codePalette = Notification.codePaletteNotif WHERE Notification.idNotif = @idNotif)
	BEGIN 
		SELECT codePalette, libellePalette, paletteZone FROM Palette INNER JOIN Notification  ON Palette.codePalette = Notification.codePaletteNotif WHERE Notification.idNotif = @idNotif
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SelectQuantiteCommande]    Script Date: 15/12/2025 22:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SelectQuantiteCommande]( @idCommande int, @idPalette int)
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SELECT quantite FROM Commander
	INNER JOIN Produit p ON Commander.codeProduit = p.codeProduit
	INNER JOIN Palette pa ON p.codeProduit = pa.codeProduitPalette
	WHERE idCommande = @idCommande
	AND codePalette = @idPalette
END
GO
/****** Object:  StoredProcedure [dbo].[TrouverQuantiteeProduit]    Script Date: 15/12/2025 22:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[TrouverQuantiteeProduit] (@CodePalettePrQuantitee int)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SELECT quantite FROM Palette
	INNER JOIN Produit ON codeProduitPalette = codeProduit
	INNER JOIN Commander ON Produit.codeProduit = Commander.codeProduit
	WHERE codePalette = @CodePalettePrQuantitee
END
GO
/****** Object:  StoredProcedure [dbo].[Valider_commande]    Script Date: 15/12/2025 22:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Valider_commande]
	@idcmd int
AS
BEGIN
	update commande
	set statut = 1 where idCommande = @idcmd
END
GO
/****** Object:  StoredProcedure [dbo].[VerifieIdentification]    Script Date: 15/12/2025 22:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[VerifieIdentification] 
	-- Add the parameters for the stored procedure here
	@identifiant VARCHAR(100),
	@mot_de_passe VARCHAR(255)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	IF EXISTS (SELECT 1 FROM Utilisateur WHERE @identifiant = identifiant AND @mot_de_passe = MotDePasse)
		SELECT 1 AS LoginResult;
	ELSE
		SELECT 0 AS LoginResult;
END
GO
/****** Object:  StoredProcedure [dbo].[VerifierRole]    Script Date: 15/12/2025 22:27:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[VerifierRole] 
	-- Add the parameters for the stored procedure here
	@identifiant VARCHAR(100)
	AS
BEGIN

	DECLARE @idRoleTrouve int
	DECLARE @IdUser int
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT @idRoleTrouve = idRole
	FROM Utilisateur
	WHERE Identifiant = @identifiant

	SELECT @IdUser = idUser FROM Utilisateur


	IF (@idRoleTrouve = 1)
		SELECT 1, @IdUser 
	ELSE IF (@idRoleTrouve = 2)
		SELECT 2, @IdUser 
	ELSE IF (@idRoleTrouve = 3)
		SELECT 3 , @IdUser 
	ELSE
		SELECT 0 , @IdUser 
END
GO
USE [master]
GO
