USE [bdd_intermarche]
GO
/****** Object:  StoredProcedure [dbo].[VerifieIdentification]    Script Date: 02/12/2025 16:03:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[VerifieIdentification] 
	-- Add the parameters for the stored procedure here
	@identifiant VARCHAR(100),
	@mot_de_passe VARCHAR(255)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	IF EXISTS (SELECT 1 FROM Utilisateur WHERE @identifiant = identifiant AND @mot_de_passe = MotDePasse)
		SELECT 1 AS LoginResult;
	ELSE
		SELECT 0 AS LoginResult;
END
