USE [bdd_intermarche]
GO
/****** Object:  StoredProcedure [dbo].[VerifierRole]    Script Date: 02/12/2025 16:04:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[VerifierRole] 
	-- Add the parameters for the stored procedure here
	@identifiant VARCHAR(100)
	AS
BEGIN

	DECLARE @idRoleTrouve int
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT @idRoleTrouve = idRole
	FROM Utilisateur
	WHERE Identifiant = @identifiant


	IF (@idRoleTrouve = 1)
		SELECT 1 AS RoleId;
	ELSE IF (@idRoleTrouve = 2)
		SELECT 2 AS RoleId;
	ELSE IF (@idRoleTrouve = 3)
		SELECT 3 AS RoleId;
	ELSE
		SELECT 0 AS RoleId;
END
