USE [bdd_intermarche]
GO
/****** Object:  StoredProcedure [dbo].[Afficherlesnotifs]    Script Date: 09/12/2025 12:23:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
Create PROCEDURE [dbo].[Afficherlesnotifs]
	-- Add the parameters for the stored procedure here

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT idNotif, message,idCommande, codePaletteNotif FROM Notification
	INNER JOIN Palette ON codePalette = codePaletteNotif
	INNER JOIN Produit ON codeProduitPalette = codeProduit
	INNER JOIN Commander ON Produit.codeProduit = Commander.codeProduit


END
