USE [bdd_intermarche]
GO
/****** Object:  StoredProcedure [dbo].[AfficherZonepreparateur]    Script Date: 09/12/2025 14:36:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[AfficherZonepreparateur]
	-- Add the parameters for the stored procedure here
	@id int,
	@idcmd int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	select iduser, nom,prenom from Utilisateur where codeZone = @id and iduser Not in (select iduser from Preparer where idCommande = @idcmd)
END
