USE [bdd_intermarche]
GO
/****** Object:  StoredProcedure [dbo].[AfficherLesCommande]    Script Date: 09/12/2025 14:34:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
create PROCEDURE [dbo].[AfficherLesCommande]
	-- Add the parameters for the stored procedure here

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	select idcommande,libellemagasin,statut from Commande where statut != 'TERMINER'
END
