USE [bdd_intermarche]
GO
/****** Object:  StoredProcedure [dbo].[AfficherZoneCommande]    Script Date: 09/12/2025 14:35:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[AfficherZoneCommande]
	-- Add the parameters for the stored procedure here
	@id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	select codezone,libellezone from Commander c
	inner join Produit p on p.codeProduit = c.codeProduit
	inner join Palette pa on p.codeProduit = codeProduitPalette
	inner join Zone on paletteZone = codeZone
	where idCommande = @id
END
