USE [bdd_intermarche]
GO
/****** Object:  StoredProcedure [dbo].[AfficherLesCommandenb]    Script Date: 09/12/2025 14:35:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
create PROCEDURE [dbo].[AfficherLesCommandenb]
	-- Add the parameters for the stored procedure here

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	select CE.idcommande,libellemagasin,statut,COUNT(*)nbArticles
	from Commander CR 
	inner join Commande CE on CE.idCommande=CR.idCommande 
	where statut != 'TERMINER'
	group by CE.idCommande, libelleMagasin,statut
END
