USE [bdd_intermarche]
GO
/****** Object:  StoredProcedure [dbo].[AttributionUtil]    Script Date: 09/12/2025 14:36:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[AttributionUtil]
	-- Add the parameters for the stored procedure here
	@idcmd int,
	@idutilisateur int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	insert into Preparer
	values(@idutilisateur,@idcmd,Null)
END
