USE [bdd_intermarche]
GO
/****** Object:  StoredProcedure [dbo].[DELETENOTIF]    Script Date: 12/12/2025 16:09:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[DELETENOTIF](@idNotif int)
	-- Add the parameters for the stored procedure here

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DELETE Notification
	WHERE idNotif = @idNotif;
END
