USE [bdd_intermarche]
GO
/****** Object:  StoredProcedure [dbo].[InsertionBASEPalette]    Script Date: 12/12/2025 15:43:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[InsertionBASEPalette] (@NumPalette int, @quantiteSaisie int, @codeProduit int)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	UPDATE Palette
	SET qtePalette = qtePalette + @quantiteSaisie
	WHERE codePalette = @NumPalette
	AND codeProduitPalette = @codeProduit;
END
