USE [bdd_intermarche]
GO
/****** Object:  StoredProcedure [dbo].[MAJSTATUTCOMMANDE]    Script Date: 12/12/2025 16:10:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[MAJSTATUTCOMMANDE] (@codeCommande int, @codeUser int)
	-- Add the parameters for the stored procedure here

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	DECLARE @statut int
	SET NOCOUNT ON;

	SELECT @statut = statut FROM Preparer WHERE idUser = @codeUser AND idCommande = @codeCommande
	IF (@statut = 1)
		BEGIN
		UPDATE Preparer
		SET statut = 0
		WHERE idUser = @codeUser AND idCommande = @codeCommande
		END
	ELSE
		BEGIN
			IF (@statut = 0 OR @statut is null)
			BEGIN 
			UPDATE Preparer
			SET statut = 1
			WHERE idUser = @codeUser AND idCommande = @codeCommande
			END
		END
END
